.divContainer {
    @apply top-0 left-0 w-full h-full z-10 flex items-center justify-center absolute 
    xl:flex-row  xl:justify-center 
}

.divImg {
    @apply bg-[url('src/assets/sign-illustration.png')] bg-right-bottom h-full bottom-0 
    bg-no-repeat bg-cover w-screen absolute opacity-45 xl:w-626 xl:right-0 
    xl:opacity-100 xl:ml-40 xl:z-10}
.divForm {
    @apply bg-white w-353 flex flex-col rounded-3xl z-10 justify-around 
    md:w-656 md:h-794  md:justify-between relative xl:mr-80 xl:z-0
}

.divText {
    @apply flex flex-col items-center md:items-start md:mb-0  ;
}

.divName{
    @apply md:flex md:w-508 md:flex-row  md:justify-evenly md:ml-20 gap-4 
     ml-2 flex flex-col justify-between 
}
.inputName{
    @apply w-329 h-36 text-14px border-2 mb-3   border-gray-100 p-2 rounded-md md:w-251 
    focus:outline-none  
    }

.labelName{
    @apply flex flex-col mt-3 text-14px text-black-51 font-bold  

}

.h1 {
    @apply m-5 text-24px font-roboto text-black-51 font-bold md:ml-20 md:mt-12 md:text-40px }
.p {
    @apply text-15px text-black-51 md:ml-20 
}

.a {
    @apply text-blue-46;
}

.divContainerInput {
    @apply flex flex-col justify-between  mx-3 mt-0 xl:mt-0;
}

.btnSingIn {
    @apply mt-10 font-roboto w-324 mx-4 mb-10 md:w-508 md:ml-16 xl:w-489 xl:ml-20;
}
.divLabel {
    @apply flex flex-col mt-3 text-14px text-black-51 font-bold md:ml-16 
}

.divInput {
    @apply w-329 h-36 text-14px border-2 mb-3 md:flex-auto border-gray-100
     p-2 rounded-md md:ml-16 md:w-520 focus:outline-none  
}

.divSmallContainer{
    @apply xl:fixed xl:bottom-24 xl:left-10 xl:ml-28
}

.divSmall {
    @apply flex justify-center xl:justify-start;
}

.small {
    @apply text-14px text-black-51 mb-3 xl:ml-72
}

.divBtn {
    @apply flex justify-center mb-4 items-center xl:mr-32
}

.btnFace {
    @apply flex justify-center border-2 p-2 mr-3 border-gray-200 
    rounded-3xl w-110 h-56 xl:ml-36 
}

.btnGmail {
    @apply flex justify-center border-2 p-3 border-gray-200 rounded-3xl w-110 h-56 
}