.mainContainer {
    @apply bg-purple-450 h-[1270px] py-[60px] flex flex-col gap-16
    /* tela de tablete */
    tablete:py-[60px] tablete:h-[844px] tablete:items-center
}
.container {
    @apply text-center flex flex-col justify-between h-[156px] items-center 
    /* tela de tablete */
    tablete:w-[404px] tablete:h-[168px]
}
.containerItens {
    @apply text-center flex flex-col  h-[156px] items-center 
    /* tela de tablete */
    tablete:w-[588px] tablete:h-[488px] tablete:justify-evenly tablete:gap-y-[130px]
}

.title {
    @apply text-yellow-150 font-bold text-[25px]
    /* tela de tablete */
    tablete:text-[40px]
}

.text{
    @apply text-white text-[14px] font-extralight
    /* tela de tablete */
    tablete:text-[16px]
}

.titleItem {
    @apply  text-white font-normal text-[20px] mb-2 mb-2
    /* tela de tablete */

}
.textItem {
    @apply text-[16px] text-white font-light
    /* tela de tablete */
    
}

.ftButton {
    @apply bg-white  w-[148px] h-9 rounded-md font-bold text-[15px] text-blue-850
    /* tela de tablete */
    tablete:w-[240px] tablete:h-[48px] tablete:text-[16px]
}

.list {
    @apply grid grid-cols-1 gap-y-10 w-full
    /* tela de tablete */
    tablete:grid-cols-2 tablete:gap-y-10 tablete:w-full tablete:gap-x-[130px]
}

.itemList{
    @apply flex  flex-col  items-center py-[12px] justify-between py-3 gap-[20px]
    /* tela de tablete */
    tablete:w-[229px] tablete:h-[204px] tablete:py-0  
    
}

.containImg{
    @apply bg-white rounded-full w-[100px] h-[100px] flex justify-center items-center 
    /* tela de tablete */
    
}

.img {
    @apply fill-blue-850 w-[38px] h-[38px]  mx-[26px] my-[26px]
    /* tela de tablete */
}