.mainContainer {
    @apply bg-purple-450 h-[1270px] py-[60px] flex flex-col gap-16
    /* tela de tablet */
    tablet:py-[60px] tablet:px-[170px] tablet:h-[643px] tablet:items-center tablet:min-h-[844px]
    /* tela para desktop: */
    desktop:min-h-[643px]
    desktop:min-w-[1440px]
}
.container {
    @apply text-center flex flex-col justify-between h-[156px] items-center 
    /* tela de tablet */
    tablet:w-[404px] tablet:h-[168px]
}
.containerItens {
    @apply text-center flex flex-col  h-[156px] items-center 
    /* tela de tablet */
    tablet:w-[588px] tablet:h-[488px] tablet:justify-evenly tablet:gap-y-[130px]
    /* tela para desktop */
    desktop:min-w-[1100px] desktop:gap-y-0 tablet:h-[204px]
}

.title {
    @apply text-yellow-150 font-bold text-[25px]
    /* tela de tablet */
    tablet:text-[40px]
}

.text{
    @apply text-white text-[14px] font-light
    /* tela de tablet */
    tablet:text-[16px] 
}

.titleItem {
    @apply  text-white font-normal text-[20px] mb-2 mb-2
    /* tela de tablet */
    

}
.textItem {
    @apply text-[16px] text-white font-light
    /* tela de tablet */
    tablet:whitespace-nowrap
}

.ftButton {
    @apply bg-white  w-[148px] h-9 rounded-md font-bold text-[15px] text-blue-850 hover:bg-[#1E293B] hover:text-white
    /* tela de tablet */
    tablet:w-[240px] tablet:h-[48px] tablet:text-[16px]
}

.list {
    @apply grid grid-cols-1 gap-y-10 w-full
    /* tela de tablet */
    tablet:grid-cols-2 tablet:gap-y-10 tablet:w-full tablet:gap-x-[130px]
    /* tela desktop */
    desktop:flex-row desktop:flex desktop:justify-between
}
 
    

.itemList{
    @apply flex  flex-col  items-center py-[12px] justify-between py-3 gap-[20px]
    /* tela de tablet */
    tablet:w-[229px] tablet:min-h-[204px] tablet:py-0  
    /* tela para desktop */
   
    
}

.containImg{
    @apply bg-white rounded-full w-[100px] h-[100px] flex justify-center items-center 
    /* tela de tablet */
    
}

.img {
    @apply fill-blue-850 w-[38px] h-[38px]  mx-[26px] my-[26px]
    /* tela de tablet */
}