.manager {
    @apply w-full min-w-[393px] bg-blue-750  pt-person1 text-white py-person1
    /* tela de tablete */
    tablete:min-w-[744px] tablete:h-[843px]  tablete:py-[60px] tablete:pl-[44px] tablete:ml-0
    /* tela de desktop */
    desktop:py-[60px] desktop:px-[170px]  desktop:ml-0 desktop:max-w-[1440px] desktop:relative desktop:gap-x-11
   
}

.container {
    @apply text-start mx-5 flex flex-col gap-10 justify-center 
    /* tela de tablete */
    tablete:w-[655px] tablete:h-[216px] tablete:justify-start tablete:mx-0
    /* tela de desktop */
    desktop:min-w-[1100px]
} 

.title {
    @apply text-3xl font-bold text-yellow-150
    /* tela de tablete */
    tablete:text-[40px]
}


.text {
   @apply text-sm leading-[24px] 
   /* tela de tablete */
   tablete:text-[16px] tablete:font-light
}

.learButton {
    @apply w-52 h-9 border rounded-md bg-white text-blue-950  m-auto font-semibold
    /* tela de tablete */
    tablete:w-[240px] tablete:h-[48px] tablete:self-start tablete:p-[12px] tablete:m-0
}

.containList{
    @apply flex flex-row mt-[49px] ml-5 overflow-x-auto gap-x-[36px]
     /* tela de tablete */
    tablete:mt-[65px] tablete:gap-x-[40px] tablete:ml-0
}

.card {
    @apply w-308 h-381 text-left 
    /* tela de tablete */ 
    tablete:w-[340px] tablete:h-[420px]

}

.containImg {
    @apply w-308 h-308 
    /* tela de tablete */
    tablete:w-[340px] tablete:h-[340px]
}

.img {
    @apply rounded-t-md 
    /* tela de tablete */
    
}
.containtext {
    @apply p-[11px] leading-[21.7px] 
    /* tela de tablete */
    tablete:p-3
}
.titleCard {
    @apply font-light  text-[15px]
    /* tela de tablete */
    tablete:text-[16px]
}
.textcard {
    @apply font-medium  mt-1 text-[18px]
    /* tela de tablete */
    tablete:text-[20px] table
}