.formContainer {
    @apply py-[49px] flex flex-col items-center text-center gap-[60px] 
    /* tela para tablet */
    tablet:py-[60px] tablet:px-[170px] tablet:ml-0
    /* tela para desktop */
    desktop:min-w-[1440px] 
    desktop:flex-row desktop:items-center desktop:py-[140px] 
    desktop:px-[170px] desktop:justify-between desktop:ml-0;
}
.containText{
    @apply text-center w-[241px] h-24 flex flex-col justify-between
    /* tela para tablet */
    tablet:w-[404px] tablet:h-[96px] tablet:text-start tablet:gap-6
}
.formTitle {
    @apply text-[25px] font-bold text-blue-850
    /* tela para tablet */
    tablet:text-[40px]
}

.formSubtitle {
    @apply text-blue-850 text-[14px]
    /* tela para tablet */
    tablet:text-[16px] tablet:font-normal
}


.inputGroup {
    @apply w-353  flex flex-col items-center justify-between 
    /* tela para tablet */
    tablet:w-[404px] tablet:h-[268px]
    /* tela para desktop */
    
}

.inputLabel {
    @apply  font-bold text-blue-850 self-start text-[14px]
    /* tela para tablet */
    tablet:text-[16px] tablet:font-medium
}

.inputField {
    @apply w-full h-36 p-3 border border-gray-300 rounded-lg
     text-gray-700 focus:outline-none focus:border-blue-850
       /* tela para tablet */
       tablet:w-[380px] tablet:h-[36px] tablet:self-start tablet:py-2 tablet:px-3
}

.inputHelperText {
    @apply mt-2 text-sm text-gray-500 self-start mb-10
      /* tela para tablet */
}

.subscribeButton {
    @apply w-[142px]  h-[36px] text-white bg-blue-750 rounded-md text-[15px]  mt-8
      /* tela para tablet */
      tablet:w-[240px] tablet:h-[48px] tablet:py-3 tablet:text-[16px] tablet:font-medium
    /* tela para desktop */
    desktop:self-start 
}   

.errorMessage{
    @apply text-red-600 
}